*
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(203, 15, 228);
    color: chartreuse;
}
#continer
{
    margin: auto;
    width: 500px;
    height: 400px;
}
#box
{
    width: 550px;
    height: 900px;
    border: chartreuse solid 2px;
    margin: auto;
    border-radius: 10px;

}
#body
{
   
    padding: 30px;
}
#header
{
    font-size: 30px;
    margin-left: 200px;
    margin-top: -20px;
}
#name,#email,#password,#age
{
    width: 350px;
    height: 33px;
    border-radius: 5px;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-color: chartreuse;
}
td
{
    /* margin: auto; */
    text-align: center;
    padding: 15px;
}
button
{
    width: 200px ;
    height:40px ;
    border-radius: 20px;
    border-color: chartreuse;
    border-width: 2px;
}
button:hover
{
    background-color: chartreuse;
    color: black;
}
#submit
{
    position: relative;
    left: 180px;
}
#state
{
    width:300px;
    height: 30px;
    border-radius: 5px;
}
span
{
    color: red;
    display: block;
    visibility: hidden;
    margin-top: 8px;
}
#tab
{
    position: relative;
    /* visibility: hidden; */
    top: 200px;
    text-align: center;
    margin: auto;
}